*{
  font-family: ¸¼Àº °íµñ;
  font-size: 14px;
}
.container {
    width: 100%;
    margin: 5px auto;
}
ul {
   list-style:none !important;
   padding-left:0px;
}
.title_line {
    color: #333333;
    width: 20%;
    margin: 20px auto;
    padding: 3px;
    border-bottom: solid 2px #555555;
    text-align: center;
  }
fieldset {
  padding-bottom : 20px !important;
}
legend {
  font-weight: bold;
  color: #000073!important;
}
.dropdown-menu {
  background-color : white !important;
  color: black;
}
#mainNav .navbar-brand {
  color: #2455c5 !important;
}
#mainNav {
  background-color: white !important;
  margin-bottom: 0px;
}
.top-li {
  display:inline !important; 
}
.top-li a {
  font-weight:bold;
  color: white;
  margin-right: 1%;
}
.top-container {
  margin-top: 0%;
}
.small-top {
  padding-top: 0.5%;
  padding-right: 1%;
  text-align: right;
}
#navbarResponsive ul li a {
  color: black !important;
}
#navbarResponsive ul li {
  margin-right: 8%;
}
#navbarResponsive {
  margin-left: 7%;
}
#mainNav .navbar-brand {
  font-size: 2.5em !important;
}
#etc {
  color:#00006a;
}

.chart_table td, .chart_table th{
  border: none !important;
}
.chart_table td {
  padding: 8px;
  margin-right: 20px;
}
.chart_table th {
  padding: 8px;
  margin-right: 10px;
}
.chart_table input {
  border-top: none;
  border-right: none;
  border-left: none;
}
textarea {
  width: 100%;
}
.message {
  margin: 0px auto;
}
.buttons{
  float: left;
}
.read_title_table {
  margin-bottom: 10px;
  width:100%;
  cellspacing='0';
  collspacing='0';
}
.read_title {
  font-size: 30px;
  font-weight: bold;
}
.read_thumbs {
  margin-bottom: 20px;
}
.show_thumbs {
  font-weight: bold;
  cursor:pointer;
}
.hide_thumbs {
  text-decoration: none;
  color: #000057;
  font-weight: bold;
  float: right;
}
.hide_thumbs:hover{
  text-decoration: none;
  color: #0000cc;
  font-weight: bold;
  float: right;
}
.read_content {
  margin: auto;
}
.nav-li {
  display:inline !important; 
}
.nav-li a {
  vertical-align: middle;
  font-weight:bold;
  color: #000000;
  margin-right: 1%;
  font-size: 15px;
  padding: 10px;
}

.small-top {
  padding-top: 0.5%;
  padding-right: 1%;
  text-align: right;
}
.logo a{
  color: #2455c5;
  font-size: 30px;
}
.menu {
  margin-right: 2%;
  margin-left: 2%;
}
a:hover {
  text-decoration: none;
}