*{
  font-family: ¸¼Àº °íµñ;
  font-size: 14px;
}
.container {
    width: 100%;
    margin: 5px auto;
}
ul {
   list-style:none !important;
   padding-left:0px;
}
.title_line {
    color: #333333;
    width: 20%;
    margin: 20px auto;
    padding: 3px;
    border-bottom: solid 2px #555555;
    text-align: center;
  }
fieldset {
  padding-bottom : 20px !important;
}
legend {
  font-weight: bold;
  color: #000073!important;
}
.dropdown-menu {
  background-color : white !important;
  color: black;
}
#mainNav .navbar-brand {
  color: #2455c5 !important;
}
#mainNav {
  background-color: white !important;
  margin-bottom: 0px;
}
.top-li {
  display:inline !important; 
}
.top-li a {
  font-weight:bold;
  color: white;
  margin-right: 1%;
}
.top-container {
  margin-top: 0%;
}
.small-top {
  padding-top: 0.5%;
  padding-right: 1%;
  text-align: right;
}
#navbarResponsive ul li a {
  color: black !important;
}
#navbarResponsive ul li {
  margin-right: 8%;
}
#navbarResponsive {
  margin-left: 7%;
}
#mainNav .navbar-brand {
  font-size: 2.5em !important;
}
#etc {
  color:#00006a;
}

.chart_table td, .chart_table th{
  border: none !important;
}
.chart_table td {
  padding: 8px;
  margin-right: 20px;
}
.chart_table th {
  padding: 8px;
  margin-right: 10px;
}
.chart_table input {
  border-top: none;
  border-right: none;
  border-left: none;
}
textarea {
  width: 100%;
}
.message {
  margin: 0px auto;
}
.buttons{
  float: left;
}